<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Express App</title>
</head>
<body>
    {{{body}}}
    <img src="bob.jpeg" alt="스폰지밥">
</body>
</html>